<body
  class="d-block justify-content-start align-items-center vh-100 overflow-x-hidden p-3"
>
  <div class="mb-auto input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">
      <i class="fa-solid fa-magnifying-glass"></i>
    </span>
    <input
      type="text"
      class="form-control"
      placeholder="查詢"
      aria-label="search"
      aria-describedby="addon-wrapping"
    />
    <button class="border border-0 bg-transparent">
      <i class="fa-solid fa-cart-shopping"></i>
    </button>
  </div>

  <div id="itmesContainer" class="container">
    <div class="row d-flex justify-content-start align-items-center mt-3">
      <div class="card col-lg-3 col-sm-4 col-6">
        <img src="img/slide1.png" class="card-img-top" alt="商品圖片" />
        <div class="card-body">
          <h5 class="card-title">商品名稱</h5>
          <a
            href="#"
            class="text-danger text-decoration-none stretched-link"
          >$10</a>
        </div>
      </div>

      <div class="card col-lg-3 col-sm-4 col-6">
        <img src="img/slide1.png" class="card-img-top" alt="商品圖片" />
        <div class="card-body">
          <h5 class="card-title">商品名稱</h5>
          <a
            href="#"
            class="text-danger text-decoration-none stretched-link"
          >$10</a>
        </div>
      </div>

      <div class="card col-lg-3 col-sm-4 col-6">
        <img src="img/slide1.png" class="card-img-top" alt="商品圖片" />
        <div class="card-body">
          <h5 class="card-title">商品名稱</h5>
          <a
            href="#"
            class="text-danger text-decoration-none stretched-link"
          >$10</a>
        </div>
      </div>

      <div class="card col-lg-3 col-sm-4 col-6">
        <img src="img/slide1.png" class="card-img-top" alt="商品圖片" />
        <div class="card-body">
          <h5 class="card-title">商品名稱</h5>
          <a
            href="#"
            class="text-danger text-decoration-none stretched-link"
          >$10</a>
        </div>
      </div>

      <div class="card col-lg-3 col-sm-4 col-6">
        <img src="img/slide1.png" class="card-img-top" alt="商品圖片" />
        <div class="card-body">
          <h5 class="card-title">商品名稱</h5>
          <a
            href="#"
            class="text-danger text-decoration-none stretched-link"
          >$10</a>
        </div>
      </div>
    </div>
  </div>
</body>